<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gym Kebanggaan Pak Karim</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <script>
        function refreshCaptcha() {
            fetch('/refresh_captcha')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('captcha-text').innerText = data.captcha_text;
                });
        }

        window.onload = function() {
            if (sessionStorage.getItem('loggedOut') === 'true') {
                alert('Your session has logged out. Please log in again.');
                sessionStorage.removeItem('loggedOut');
            }
        };
    </script>
    <style>
        .refresh-icon {
            cursor: pointer;
            color: #3498db;
            margin-left: 10px;
            font-size: 24px;
        }
        .error-message {
            color: red;
            font-weight: bold;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div class="content">
        <div class="text">
            Gym Member Management System
        </div>
        <div class="text">
            Login 
        </div>
        <form action="/" method="post">
            <div class="field">
                <input type="text" name="username" required>
                <span class="fas fa-user"></span>
                <label>Email or Phone</label>
            </div>
            <div class="field">
                <input type="password" name="password" required>
                <span class="fas fa-lock"></span>
                <label>Password</label>
            </div>
            <div class="captcha-container">
                <div id="captcha-text" class="captcha-text">{{ captcha_text }}</div>
                <i class="fas fa-sync-alt refresh-icon" onclick="refreshCaptcha()"></i>
            </div>
            <div class="field">
                <input type="text" id="captcha" name="captcha" required>
                <span class="fas fa-shield-alt"></span>
                <label>Enter CAPTCHA</label>
            </div>
            <div class="forgot-pass">
                <a href="#">Forgot Password?</a>
            </div>
            <button type="submit">Sign in</button>
            <div class="sign-up">
                Not a member?
                <a href="#">signup now</a>
            </div>
            {% if error %}
                <p class="error-message">{{ error }}</p>
            {% endif %}
        </form>
    </div>
</body>
</html>


  
       